* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

/* PAGE SECTIONS FOR SCROLL */
.spacer {
  height: 100vh;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 2rem;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
}

/* IMAGES */
.hero-image {
  flex: 1;
  background-size: cover;
  background-position: center;
}

.hero-image.left {
  background-color: royalblue;
}
.hero-image.right {
  background-color: yellowgreen;
}

/* GAP */
.hero-gap {
  width: 20px;
  z-index: 2;
  overflow: visible;
  position: relative;
  background: transparent;
  height: calc(100vh + 80px);
}

/* PILL */
.pill {
  z-index: 3;
  position: absolute;

  left: 50%;
  width: 12px;
  height: 50px;
  background: red;
  transform: translate(-50%, 0);
  will-change: transform;
}
